<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Automation Demo app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a routerLink="/" class="nav-item nav-link active" routerLinkActive="">Stores <span class="sr-only">(current)</span></a>
          <a routerLink="/products" class="nav-item nav-link active" routerLinkActive="">Products</a>
   
      </div>
    </div>
  </nav>

 